body {
    background-color: paleturquoise;
}

.container {
    background-color: bisque;
}

nav ul {
    display: flex;
    display: -webkit-flex;
}

nav li {
    list-style-type: none;
    color: purple;
}

nav a {
    color: brown;
}

footer {
    background-color: blueviolet;
    color: bisque
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-section {

}

.flex-item {
    margin: 1em;
}